# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*ipa
.idea/dbnavigator.xml
.idea/iOSAppTest.iml
.idea/modules.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
